{{if .Session.SignedIn}}
    {{if not .Session.Verified}}
        <p>Your email is not yet verified with us, please verify your email address by clicking the link sent to you from clearskies.space@gmail.com.</p>
        <p>If you did not receive a link, check your spam folder or <a href="/sendverification">click here</a> to resend it.</p>
    {{end}}
    <p>Click <a href="/changepassword">here</a> to change your password.</p>
    <form action="/account/save" method="post">
        <input type="checkbox" name="commentNotify" value="true"{{if .CommentNotify}} checked{{end}}>Recieve email notifications for comments on my images<br>
        <input type="submit" value="Save">
    </form>
    <h3><u>Your Uploads</u></h3>
    {{range $i, $upload:= .Uploads}}
        <div class="col-xs-6 col-sm-4 col-md-2">
            <a href="/view/{{$upload.Id}}" class="thumbnail" title="{{$upload.Title}}">
                <img class="img-rounded" width="100%" src="/thumbnails/{{$upload.Id}}" alt="{{$upload.Title}}">
            </a>
        </div>
    {{end}}
{{else}}
<p>Please log in to view your account page.</p>
{{end}}
